<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<style>
    body
    {
        background-color: black;
      color : white;
    }
    img 
    { 
        align-self: center;
        width: 100%;
        height : 300px;
    }
    
   
</style>
<title>success</title>
</head>
<body>
<div class="container-fluid">
   
    <div class="row">
        <div >
            <img src="http://localhost:3000/logo.png" alt="logo">
        </div>
       
        <div >
            <h3 class="btn btn-outline-success"> welcome firstName</h3>
            <div> you have successfully sign up for mystore</div>
            <div>to actie your account use <a href="activationLink">active account</a> 
            </div> 
        </div>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>

</body>
</html>