<!-- title  | description       | category | price  | brand | image   -->
<div class="card">
    <div class="card-header">
        Product List
       
    </div>
    <div class="card-header">
        <button  (click)="productAdd()"  class="btn btn-success add" style="margin-bottom: 10px;">Add Product</button>
        <table class="table table-bordered " >
            <thead>
                <tr>
                    <th>Serial.no</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>category</th>
                    <th>brand</th>
                    <th>price</th>
                    <th>Active </th>
                    <th>Action</th>
                </tr>
            </thead>
           <tbody>
               <tr *ngFor="let product of products; let index = index">
                   <td>{{index + 1}}</td>
                   <td>
                       <img *ngIf="product['image']" class="product-image" src="http://localhost:3000/product/image/{{product['image']}}" alt="">
                       <button (click)="uploadImage(product)" *ngIf="!product['image']" class="btn btn-info">Upload Image</button>
                   </td>
                   <td>{{product['title']}}</td>
                   <td>{{product['description']}}</td>
                   <td>{{product['category']['title']}}</td>
                   <td>{{product['brand']['title']}}</td>
                   <td>{{product['price']}}</td>
                   <td>{{product['isActive']}}</td>
                   <td>
                       <button (click)="toggleActive(product)"
                       [class.btn-success]="product['isActive'] != 1"
                       [class.btn-warning]="product['isActive'] == 1" class="btn " >
                    {{product['isActive'] == 1 ? 'inactive' : 'active'}}
                    </button>
                    <button (click)="onEdit(product)" style="margin-left: 10px;" class="btn btn-primary"> Edit</button>
                    <button (click)="onDelete(product['id'])" style="margin-left: 10px;" class="btn btn-danger"> Delete </button>
                    <button (click)="onUpdateImage(product)" style="margin-left: 10px;" class="btn btn-warning"> Image</button>
                   </td>
               </tr>
           </tbody>



        </table>
    </div>
</div>