
<h2>EMployee </h2>

<div class="employee" *ngFor="let employee of employees">
    <div> Name : {{employee['name']}}</div>
<div> id : {{employee['id']}}</div>
<div> job : {{employee['job']}}</div>
<div> department : {{employee['department']}}</div>
<div> salary : {{employee['salary']}}</div>
<hr>
</div>






<div> Name : {{employees[0]['name']}}</div>
<div> id : {{employees[0]['id']}}</div>
<div> job : {{employees[0]['job']}}</div>
<hr>
<div> Name : {{employees[1]['name']}}</div>
<div> id : {{employees[1]['id']}}</div>
<div> job : {{employees[1]['job']}}</div>

<hr>

