<p>third works!</p>


<div [class.green-box]="boxType == 1"
[class.red-box]="boxType == 2"
[class.yellow-box]="boxType == 3"
[class.blue-box]="boxType == 4"
class="box"></div>

<hr>
<ul>
    <li [class.active]=" category == 1" > category 1</li>
    <li [class.active]=" category == 2" > category 2</li>
    <li [class.active]=" category == 3" > category 3</li>
    <li [class.active]=" category == 4" > category 4</li>
    <li [class.active]=" category == 5" > category 5</li>
</ul>

<hr>

<button [class.active]="butoon == 1"> button 1</button> 
<button [class.active]="butoon == 2"> button 2</button> 
<button [class.active]="butoon == 3"> button 3</button> 
<button [class.active]="butoon == 4"> button 4</button> 
<button [class.active]="butoon == 5"> button 5</button> 
<button [class.active]="butoon == 6"> button 6</button> 
<hr>
