
.box 
{
    width: 300px;
    height: 150px;
    border: 1px black solid;
}


.green-box
{
    background-color: green;
}
.blue-box
{
    background-color:blue;
}
.red-box
{
    background-color: red;
}
.yellow-box
{
    background-color: yellow;
}

.active
{
    background-color: blue;
}