

 <!-- <div class="card ">
        <div class="card-header">
            notes
            <button (click)="toggleVisibility()" style="float: right;" class="btn btn-success">toggle</button>
        </div>
        <div  [class.visible]="isVisible == true"
        [class.invisible]="isVisible == false"
        class="card-body" >
            <h5 class="card-title">Title</h5>
            <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been
                 the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled 
                  it to make a type specimen book. It has survived not only
                   five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like
                     Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    
</div>-->
<div class="card notes">
    <div  style="cursor: pointer;" class="card-header" (click)="toggleVisibility()">
        <img class="float-right" src="assets/{{isVisible ? 'down.png': 'up.png'}}" alt="">

<!-- <img *ngIf="isVisible" class="float-right" src="assets/down.png" alt="">
        <img *ngIf="!isVisible" class="float-right" src="assets/up.png" alt="">-->
        
        <h4  > notes </h4>
       
    </div>
    <div  *ngIf="isVisible"
    class="card-body" >
        <h5 class="card-title">Title</h5>
        <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled 
              it to make a type specimen book. It has survived not only
               five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 
                1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like
                 Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

</div>