.product-image
{
   overflow: hidden;
   height : 300px;
   width: 500px;
   padding: 0px;
   margin: 0px;
}
.box
{
  border: none;
   display: inline-block;
   margin: 10px;
}
strong
{
    color: red;
}